*{
    font-family: Lato;
}

html {
    padding: 0;
    margin: 0;
    touch-action: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#container {
    text-align: center;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

width: 100%;
box-sizing: border-box;

position: absolute;
margin: 0;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, 50%);
}

.button{
    border: none;
    border-radius: 10px;
}

@media screen and (min-height: 100vw) {
.button{
    width: 30vw;
    height: 30vw;
    margin: 5vw;
}
}

@media screen and (max-height: 100vw) {
    .button{
        width: 15vw;
        height: 15vw;
        margin: 2.5vw;
    }
    }

#blue{
    background-color: #0074D9;
}

#lime{
    background-color: #01ff70;
}

#yellow{
    background-color: #ffdc00;
}

#red{
    background-color: #ff4136;
}

button:focus{
    outline: 0;
}