*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: #cf0505cc;
    border: 3px solid #0afb3e;
}

h1{
    font-family: segoe script, sans-serif;
    color: #ffffff;
}

span{
    color: #0afb3e;
}

.gender-selection{
    width: 100%;
    height: 47px;
    border: 2px solid #ffffff;
}

.gender-selection select{
    width: 130px;
    height: 45px;
   background-color: #0afb3e;
   color: #000000;
   border: 3px solid #0a2efb;
   font-size: 25px;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif; 
}

#game-show{
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.contact-form{
    padding: 15px;
}

.form-control{
    border-radius: 0 !important;
    border: none !important;
}

::placeholder{
    color: #999 !important;
    font-size: 20px;
}

input[type="text"]{
    font-size: 25px;
}

a{
    font-size: 50px;
}

.love-heading h3{
    color: #0a2efb;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#rate-box{
    border: 3px solid #fa0000cc;
    width: 150px;
    height: 75px;
    margin: ;
    background-color: #0afb3e;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    cursor: not-allowed;
    animation: pulse 2s infinite;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#rate-box{
    font-size: 50px;
    color: #0a2efb;
}

.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.contact-info .fa{
    margin: 10px;
    color: #fa0000cc;
    font-weight: bold;
}

.contact-info .fa:hover{
    color: #0a2efb;
}

h2{
   color: #0a2efb; 
}

/*Start animation*/
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 #0afb3e;
        border-radius: 20px;
    }
    70%{
        box-shadow: 0 0 0 2rem transparent;
        border-radius: 20px;
    }
    100%{
        box-shadow: 0 0 0 0 #1201ff;
        border-radius: 20px;
    }
}
/*End animation*/