*{
    margin: 0;
    padding: 0;
}

/*---navigation--*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img{
   height: 80px;
   padding-left: 30px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
}

#nav-bar ul li a:hover{
    color: #ffffff!important;
}

.navbar{
    background-color: #03a9f4;
}

.navbar-toggler{
    border: none!important;
}

.nav-link{
    color: #000000!important;
    font-weight: 600;
    font-size: 16px;
}
