body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
    background-color: #444343;
    padding: 0px;
 }

 /*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/*header*/
header {
    background:#252627;
    color: #ffffff;
    padding-top: 30px;
    min-height: 50px;
    border-bottom: #252627 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .current a {
   color: #d3477c;
}


header ul {
    margin: 0;
    padding: 0
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
    
}

header #branding{
    float: left;
}

header #branding h1 {
    margin:0;
}

header nav {
    float: right;
    margin-top: 10px;
    text-transform: uppercase;
}

header a:hover {
    color:  #d3477c;
    font-weight: bold;
}

.text {
    color: #ffffff;
    margin: 60px;
    cursor: context-menu;
}

.text span:hover{
      color: rgb(89, 209, 209);
      transition: all -5%;
}

.text p{
     letter-spacing: 3px;
     word-spacing: 10px;
}

.text a{
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #d3477c;
    color: #d3477c;
    font-size: 8rem;
    letter-spacing: 2px;
    position: relative;

}

a.btn {
    text-decoration: none;
    color: #d3477c;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 14px;
    margin: 25px;
}

.primary{
    background-color: #444343;
    border-bottom: 2px solid #d3477c;
    border-top: 2px solid #d3477c;
    border-left: 2px solid #d3477c;
    border-right: 2px solid #d3477c;
}

a.btn:hover {
    background-color: #d3477c;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

html{
    scroll-behavior: smooth;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
    color: #707070;
}


.about {
    height: 100vh;
    margin-top: 300px;
}

.about h1
.work h1{
    font-size: 10vw;
    z-index: 0;
    opacity: .1;
}

.about-me-info{
    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2vw rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
   
}

.about-me-info p{
    font-size: 1.3rem;
    color: #fefefe;
}

.about-me-info p:nth-child(2), 
.about-me-info p:last-child {
    margin-top: 30px;
}

.container skills p {
    font-size: 1.3rem;
    color: #fefefe;
}

.work-category {
    display: inline-flex;
}



.profile-image{
    float: right;
    margin-top: -190px;
}

.profile_pic {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}


.progress-skills {
    font-family: sans-serif;
    list-style: none;
    padding: 0;
    width: 500px;
    margin: 60px auto;
    color: white;
}

.progress-skills li{
    margin: 20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 2px;
    float: left;
    background: #2187e7;
}

.html{
    width: 90%;
    animation: html 2s;
}

.css{
    width: 65%;
    animation: css 2s;
}

.javascript{
    width: 55%;
    animation: javascript 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}

.web-design {
    height: -70px;
    width: -70px;
    display: inline-block;
}

.container-contact{
    align-content: center;
    display: inline;
}

.web-design2 {
    display: inline-block;
}

.image-social {
    border-radius: 50%;
    width: 500px;
    display: inline-flex;
    height: 60px;
    margin-top: 150px;
}