body{
    background-color: #f4f4f4;
}

header{
    background-color: rgb(10, 176, 253);
    margin-top: 0px;
    padding-top: 0px;
    height: 40px;
}

header h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    color: chartreuse;
}