body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*header*/
header {
    background: #03A9F4;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #FF5722 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1 {
    margin:0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #FF5722;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/*about*/
#about {
    text-align: center;
    background-color: #35424a;
    color: #ffffff;
    font-size: 22px;
    line-height: 40px;
}

/*social*/
#social {
    text-align: center;
    background-color: #FF5722;
}

/*foooter*/
#footer {
    text-align: center;
    background-color: #03A9F4;
    color: #ffffff;
    font-size: 16px;
}