body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: rebeccapurple;
 }



/*Global*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*header*/
header {
    background:  #1575e4;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #f38508 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1 {
    margin:0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #f38508;
    display: inline;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

.kencode{
   height: 40vmin;
    width: 40vmin;
    margin-top: 50px;
    align-items: center;
    border-radius: 50%;
    padding-left: 70px;
}

.text {
    text-align: center;
    color: #ffffff;
    font-size: 3vw;
    cursor: context-menu;
}

.text span:hover{
    color: rgb(89, 209, 209);
    transition: all -5%;
}

.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
}

.text a{
   padding: 12px 25px;
   background-color: none;
   border: 3px solid ;
   font-size: 8rem;
   letter-spacing: 2px;
   position: relative;

}

.about h1,
.skills h1,
.contact h1 {
    color: #ffffff;
}


.about {
    height: 100vh;
    margin-top: 300px;
}

.about h1 {
    font-size: 10vw;
    z-index: 0;
    opacity: .1;
}

.about-me-info{
    max-width: 900px;
    background-color: #316eac;
    box-shadow: 0 0 1.2vw rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
   
}

.about-me-info p{
    font-size: 1.3rem;
    color: #fefefe;
}

.about-me-info p:nth-child(2), 
.about-me-info p:last-child {
    margin-top: 30px;
}

.container skill  {
    font-size: 1.3rem;
    color: #fefefe;
}


.skills-info {
    max-width: 900px;
    background-color: #316eac;
    box-shadow: 0 0 1.2vw rgba(0,0,0,.25);
    padding: 50px;
    position: relative;
    font-size: 1.3rem;
    color: #fefefe
}

.skills h1 {
    font-size: 10vw;
    z-index: 0;
    opacity: .1;
    text-shadow: transparent;
}

.progress-skills {
    font-family: sans-serif;
    list-style: none;
    padding: 0;
    width: 500px;
    margin: 60px auto;
    color: white;
}

.progress-skills li{
    margin: 20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 2px;
    float: left;
    background: #f38508;
}

.html{
    width: 85%;
    animation: html 2s;
}

.css{
    width: 65%;
    animation: css 2s;
}

.javascript{
    width: 45%;
    animation: javascript 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 45%;
    }
}


.box-contact {
    width: 350px;
    height: 300px;
    background-color: rebeccapurple;
}

#username{
    border-radius: 10px;
    border-color: #f38508;
    width: 250px;
    height: 40px;
    font-size: 20px;
 }
 
 a.btn {
     text-decoration: none;
     color: cyan;
     padding: 5px 5px;
     border-radius: 5px;
     font-size: 18px;
     width: 50px;
 }
 
 .primary{
     background-color: rebeccapurple;
     border-bottom: 2px solid cyan;
     border-top: 2px solid cyan;
     border-left: 2px solid cyan;
     border-right: 2px solid cyan;
 }
 
 a.btn:hover {
     background-color: #000000;
     color: #ffffff;
     border-bottom: 2px solid cyan;
     border-top: 2px solid cyan;
     border-left: 2px solid cyan;
     border-right: 2px solid cyan;
     cursor: pointer;
 }

 .image-social {
    border-radius: 50%;
    width: 500px;
    display: flex;
    height: 60px;
    cursor: pointer;
    margin-bottom: 50px;
}

 /*foooter*/
#footer {
    text-align: center;
    background-color: #03A9F4;
    color: #ffffff;
    font-size: 18px;
    box-shadow: black;
}